// TYPOGRAPHY
$font-size-base: 16px;
$font-family-base: "Roboto", sans-serif;
$font-1: Arial, sans-serif;
$line-height-base: 1.2;

// COLORS
$black: #000000;
$white: #ffffff;

$black-txt: #232323;

$color-1: #f7a549;
$color-2: #fdba58;
$color-3: #01db99;
$color-4: #5dbcd2;
$color-5: #ebca97;
$color-6: #8100f2;
$color-7: #061c31;

$link-color: $color-6;
$link-hover-color: $color-1;
$text-color-base: $black-txt;

$bgr: #f7f7f7;
